<li class="back_darkish" style="background-image:linear-gradient(rgb(31, 31, 31), rgba(31, 31, 31, 0.9)), url('/games/Lego_Pirates_of_the_Caribbean.jpg')"> 				<div class="search_list_image">
    <a aria-label="LEGO Pirates of the Caribbean The Video Game" title="LEGO Pirates of the Caribbean The Video Game" href="game?id=5256">
        <img alt="Box Art" src="/games/Lego_Pirates_of_the_Caribbean.jpg">
    </a> 
</div> 			<div class="search_list_details">					<h3 class="shadow_text">
        <a class="text_white" title="LEGO Pirates of the Caribbean The Video Game" href="game?id=5256">LEGO Pirates of the Caribbean: The Video Game</a>
                            </h3> 					<div class="search_list_details_block"> 								<div>
                    <div class="search_list_tidbit text_white shadow_text">Main Story</div>
                    <div class="search_list_tidbit center time_100">8½ Hours </div>
                    <div class="search_list_tidbit text_white shadow_text">Main + Extra</div>
                    <div class="search_list_tidbit center time_100">15 Hours </div>
                    <div class="search_list_tidbit text_white shadow_text">Completionist</div>
                    <div class="search_list_tidbit center time_100">24½ Hours </div>
                </div>					</div> 			</div>	</li>