<li class="back_darkish"
    style="background-image:linear-gradient(rgb(31, 31, 31), rgba(31, 31, 31, 0.9)), url('https://howlongtobeat.com/gameimages/47803_Lego_Harry_Potter_Collection.jpg')">
    <div class="search_list_image">
        <a aria-label="Lego Harry Potter Collection" title="Lego Harry Potter Collection" href="game?id=47803">
            <img alt="Box Art" src="https://howlongtobeat.com/gameimages/47803_Lego_Harry_Potter_Collection.jpg">
        </a>
    </div>
    <div class="search_list_details"><h3 class="shadow_text">
        <a class="text_white" title="Lego Harry Potter Collection" href="game?id=47803">Lego Harry Potter Collection</a>
    </h3>
        <div class="search_list_details_block">
            <div class="search_list_tidbit_short text_white shadow_text">Solo</div>
            <div class="search_list_tidbit_long center time_70">42 Hours</div>
            <div class="search_list_tidbit_short text_white shadow_text">Co-Op</div>
            <div class="search_list_tidbit_long center time_00">--</div>
            <div class="search_list_tidbit_short text_white shadow_text">Vs.</div>
            <div class="search_list_tidbit_long center time_00">--</div>
        </div>
    </div>
</li>